@{
    Layout = null;
}

<!--footer-->
<div class="foot-warpper bd-top marg-top-60">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
            </div>
        </div>
        <div class="text-center pd-top-40">
            <p>
                <a href="">条款</a> | <a href="">关于公司</a> | <a href="">免责声明</a> | <a href="">法律声明</a>  | <a href="">商务合作专区</a> | <a href="">客服服务中心</a> | <a href="">加盟指南</a>
            </p>
            <p class="pd-top-10">
                您在惠民汇商城购买的商品，大部分来自合作加盟的商家，亲保护好您的权益和义务，发现问题第一时间反馈到商城
            </p>
            网站备案编号：沪ICP备1478546566号 | 注册编号：14565666566 | CEO:张翠山 | 工商注册信息<br />
            地址：山东省日照东港区江豪大厦17楼 | 电话：0633-8745878 | 邮箱：huiminhui@163.com 传真：0633-6447895</p>
        </div>
    </div>
</div>
<div class="foot-bottom-warpper marg-top-20">
    <div class="container">
        <div>
            <div class="row">
                <div class="col-xs-6">
                    <span class="powerby">2016 上海悟行电子商务有限公司，版权所有 </span> <a href="">网站使用协议</a> | <a href="">团队介绍</a>
                </div>
                <div class="col-xs-6">
                    <ul class="bottom-fa">
                        <li><a href=""><i class="fa fa-weibo"></i></a></li>
                        <li><a href=""><i class="fa fa-renren"></i></a></li>
                        <li><a href=""><i class="fa fa-github"></i></a></li>
                        <li><a href=""><i class="fa fa-windows"></i></a></li>
                        <li><a href=""><i class="fa fa-html5"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
