@{
    ViewBag.Title = "Index";
}
<p style="line-height: 50px;">
    @Html.ActionLink("管理系统", "Index", "Home", new { area = "Admin" }, new { })
</p>
@section scripts
{
    <script src="/scripts/osharp.js"></script>
    <script>
        var array = [1, 2, 3, 4, 5, 6, 7];
    </script>

}
