@using Hmh.Core.Shop.Models
@{
    ViewBag.Title = "店铺后台中心";
    Layout = "~/Views/Shared/_ShopCenterLayout.cshtml";
}


<div class="shopaccountbase">
    <div class="row">
        <div class="col-xs-6">
            <p>合同保本金额：<span class="text-lg text-green">@ViewBag.MyAccount.User.Shop.CurrentContract.Fee</span>&nbsp;&nbsp;&nbsp;截至目前收益：<span class="text-lg text-green">0.00</span> 
                <div class="btn-group">
                    <div class="btn-group btn-group-sm">
                        
                            @if (ViewBag.MyAccount.User.Shop.CurrentContract.State == ContractState.Using)
                            {
                                <a href="/shop/contractlist" class="btn green">
                                    <span>合同编号：@ViewBag.MyAccount.User.Shop.CurrentContract.Id</span></a>
                            }
                            else
                            {
                                <a href="/shop/contractlist" class="btn red"><span>合同没有生效，点击查看</span></a>
                            }

                    </div>
                </div>
            </p>
        </div>

        <div class="col-xs-6">
            <div class="text-right">
                营业状态设置：<input type="checkbox" class="make-switch" checked data-text-label="营业">                
            </div>
        </div>
    </div>
    
</div>
<div class="ordersumerlist">
    <ul>
        <li><a href="">全部订单 </a></li>
        <li><a href="">待付款 <span class="badge badge-danger">6</span></a></li>
        <li><a href="">待发货 </a></li>
        <li><a href="">代收货 <span class="badge badge-danger">1</span></a></li>
        <li><a href="">待退款 <span class="badge badge-danger">6</span></a></li>
        <li><a href="">退款 </a></li>
    </ul>
</div>

<div class="row marg-top-20">
    <div class="col-xs-3">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="fa fa-users"></i>
            </div>
            <div class="details">
                <div class="number">
                    549
                </div>
                <div class="desc">
                    今日访客数
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    549
                </div>
                <div class="desc">
                    今日订单
                </div>
            </div>            
        </div>
    </div>
    <div class="col-xs-3">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="fa fa-jpy"></i>
            </div>
            <div class="details">
                <div class="number">
                    549
                </div>
                <div class="desc">
                    今日交易额
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="fa fa-retweet"></i>
            </div>
            <div class="details">
                <div class="number">
                    549
                </div>
                <div class="desc">
                    今日销售利润
                </div>
            </div>
        </div>
    </div>    
</div>


<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-reorder"></i>单月交易走势
        </div>
        <div class="tools">                     
            <a href="javascript:;" class="reload">
            </a>
            
        </div>
    </div>
    <div class="portlet-body">
        <div id="chart_2" class="chart">
        </div>
    </div>
</div>




@section Scripts{
  
}