
@{
    ViewBag.Title = "选择发布分类";
    Layout = "~/Views/Shared/_ShopCenterLayout.cshtml";
}

<div class="row">
    <div class="col-xs-6">
        <h3 style="margin-top:0">选择发布分类</h3>
    </div>
    <div class="col-xs-6">
        <div class="text-right">
            <a href="/Shop/Goodses">返回商品管理</a>
        </div>
    </div>
</div>
<hmh-publishcategory></hmh-publishcategory>

<div>
    发布须知：淘宝禁止发布侵犯他人知识产权的商品，请确认商品符合知识产权保护的规定
</div>
<div>
    <h3>淘宝规则</h3>
    <h4>第一章 概述</h4>
    <h5>第一条</h5>
    <p>为促进开放、透明、分享、责任的新商业文明，保障淘宝用户合法权益，维护淘宝正常经营秩序，根据《大淘宝宣言》及《淘宝服务协议》、《tmall.com(天猫)服务协议》，制定本规则。</p>
    <h5>第二条</h5>
    <p>淘宝规则，是对淘宝用户增加基本义务或限制基本权利的条款。</p>
    <h5>第三条</h5>
    <p>违规行为的认定与处理，应基于淘宝认定的事实并严格依规执行。淘宝用户在适用规则上一律平等。</p>
    <h5>第四条</h5>
    <p>用户应遵守国家法律、行政法规、部门规章等规范性文件。对任何涉嫌违反国家法律、行政法规、部门规章等规范性文件的行为，本规则已有规定的，适用本规则；本规则尚无规定的，淘宝有权酌情处理。但淘宝对用户的处理不免除其应尽的法律责任。用户在淘宝的任何行为，应同时遵守与淘宝及其关联公司所签订的各项协议。 淘宝有权随时变更本规则并在网站上予以公告。若用户不同意相关变更，应立即停止使用淘宝的相关服务或产品。淘宝有权对用户行为及应适用的规则进行单方认定，并据此处理。</p>
    <h4>第二章 定义</h4>
    <h5>第五条</h5>
    <p>淘宝，包括淘宝网，域名为 taobao.com；tmall.com(天猫)，域名为 tmall.com；一淘网，域名为 etao.com。</p>
    <h5>第六条</h5>
    <p>用户，指具有完全民事行为能力的淘宝各项服务的使用者。</p>
    <h5>第七条</h5>
    <p>会员，指与淘宝签订《淘宝服务协议》和/或《tmall.com(天猫)服务协议》并完成注册流程的用户。一个会员可以拥有多个账户，每个账户对应唯一的会员名。</p>
    <h5>第八条</h5>
    <p>买家，指在淘宝上浏览或购买商品的用户。</p>
    <h5>第九条</h5>
    <p>卖家，指在淘宝上发布商品的会员，tmall.com(天猫)卖家也称为“商家”。</p>
    
</div>
