<?xml version="1.0" encoding="utf-8" ?>
<osharp xmlns="http://file.osharp.org/schemas/osharp.xsd">
  <data>
    <contexts>
      <context name="default" enabled="true" dataLoggingEnabled="false" connectionStringName="default" type="OSharp.Data.Entity.DefaultDbContext,OSharp.Data.Entity">
        <initializer type="OSharp.Data.Entity.DefaultDbContextInitializer, OSharp.Data.Entity" mapperFiles="Hmh.Core.ModelConfigurations">
          <createInitializer type="Hmh.Core.ModelConfigurations.Data.CreateDatabaseIfNotExistsWithSeed,Hmh.Core.ModelConfigurations"/>
        </initializer>
      </context>
    </contexts>
  </data>
</osharp>