@{
    ViewBag.Title = "惠民汇商城-首页";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<!--banner UserInfo-->
<div>
    <div class="container marg-top-25">
        <div class="row">
            <div class="col-xs-3">
                <div class="cat-warpper">
                    <div class="text-center marg-top-20">
                        <a href="" class="btn btn-default btn-xs disabled">CATEGORY</a>
                        <p>热门分类</p>
                    </div>
                    <div class="cat-list">
                        <ul>
                            <li><a href=""><img src="http://placehold.it/60x60" alt="" /></a><div>秋季新品</div></li>
                            <li><a href=""><img src="http://placehold.it/60x60" alt="" /></a><div>秋季新品</div></li>
                            <li><a href=""><img src="http://placehold.it/60x60" alt="" /></a><div>秋季新品</div></li>
                        </ul>
                        <ul>
                            <li><a href=""><img src="http://placehold.it/60x60" alt="" /></a><div>秋季新品</div></li>
                            <li><a href=""><img src="http://placehold.it/60x60" alt="" /></a><div>秋季新品</div></li>
                            <li><a href=""><img src="http://placehold.it/60x60" alt="" /></a><div>秋季新品</div></li>
                        </ul>
                        <ul>
                            <li><a href=""><img src="http://placehold.it/60x60" alt="" /></a><div>秋季新品</div></li>
                            <li><a href=""><img src="http://placehold.it/60x60" alt="" /></a><div>秋季新品</div></li>
                            <li><a href=""><img src="http://placehold.it/60x60" alt="" /></a><div>秋季新品</div></li>
                        </ul>
                        <ul>
                            <li><a href=""><img src="http://placehold.it/60x60" alt="" /></a><div>秋季新品</div></li>
                            <li><a href=""><img src="http://placehold.it/60x60" alt="" /></a><div>秋季新品</div></li>
                            <li><a href=""><img src="http://placehold.it/60x60" alt="" /></a><div>秋季新品</div></li>
                        </ul>                        
                    </div>
                </div>
            </div>
            <div class="col-xs-9">
                <div class="row">
                    <div class="col-xs-10">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="http://placehold.it/770x320" alt="...">
                                    <div class="carousel-caption">

                                    </div>
                                </div>
                                <div class="item">
                                    <img src="http://placehold.it/770x320" alt="...">
                                    <div class="carousel-caption">

                                    </div>
                                </div>
                                <div class="item">
                                    <img src="http://placehold.it/770x320" alt="...">
                                    <div class="carousel-caption">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="home-user-profile">
                            <div class="text-center pd-top-25">
                                <img class="img-circle" src="http://placehold.it/70x70" alt="" />
                                <h4>夏兆维</h4>
                                <div class="marg-top-20 hmh-hsumer">
                                    <a href="">
                                        您的H币还有
                                        <p class="text-lg text-green"><strong>300.00H</strong></p>
                                    </a>
                                </div>
                                <div class="hmh-hsumer">
                                    <a href="">
                                        您召唤的小伙伴
                                        <p class="text-lg text-green"><strong>10 人</strong></p>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="">
                            <ul class="bxslider">
                                <li>
                                    <img src="http://placehold.it/230x185" />                                    
                                </li>
                                <li>
                                    <img src="http://placehold.it/230x185" />                                    
                                </li>
                                <li>
                                    <img src="http://placehold.it/230x185" />                                    
                                </li>
                                <li>
                                    <img src="http://placehold.it/230x185" />                                    
                                </li>
                                <li>
                                    <img src="http://placehold.it/230x185" />                                   
                                </li>
                                <li>
                                    <img src="http://placehold.it/230x185" />
                                </li>
                                <li>
                                    <img src="http://placehold.it/230x185" />
                                </li>
                                <li>
                                    <img src="http://placehold.it/230x185" />
                                </li>
                                <li>
                                    <img src="http://placehold.it/230x185" />
                                </li>
                                <li>
                                    <img src="http://placehold.it/230x185" />
                                </li>
                                <li>
                                    <img src="http://placehold.it/230x185" />
                                </li>
                                <li>
                                    <img src="http://placehold.it/230x185" />
                                </li>
                                <li>
                                    <img src="http://placehold.it/230x185" />
                                </li>
                                <li>
                                    <img src="http://placehold.it/230x185" />
                                </li>
                                <li>
                                    <img src="http://placehold.it/230x185" />
                                </li>
                                <li>
                                    <img src="http://placehold.it/230x185" />
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="container marg-top-35">
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                女生服饰
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-xs-3">
                    <div>
                        <img src="http://placehold.it/600x300" class="img-responsive" />
                    </div>
                    <div class="site_cat">
                        <a href="">早秋外套</a>
                        <a href="">早秋外套</a>
                        <a href="">衬衫</a>
                        <a href="">休闲长裤</a>
                        <a href="">鞋子</a>
                        <a href="">箱包配饰</a>
                    </div>
                </div>
                <div class="col-xs-9">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <img src="http://placehold.it/1248x80" class="img-responsive"/>
</div>

