@model Hmh.Core.Identity.Dtos.LoginInfo

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<video autoplay loop class="loginvideobg">
    <source src="/Content/loginvideobg.mp4" />
</video>

<div class="text-center">
    <div class="marg-top-80">
        <a href="/"><img src="/content/images/login-logo.png" alt="惠民汇商城logo" /></a>
    </div>
    <div class="wd-350 bg-white marg-auto bd radius-5 marg-top-20" style="background:rgba(255,255,255,0.5)">
        <div>

        </div>
        <h3>登录到惠民汇商城</h3>
        <div class="pd-30 text-left">
            <form name="loginForm" class="login-form" role="form" data-ng-controller="hmh.account.login" ng-submit="login(loginInfo)" novalidate>              
                     
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">用户名</label>
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input name="UserName" data-ng-model="loginInfo.UserName" data-ng-model-options="{updateOn:'blur'}" type="text" class="form-control placeholder-no-fix" autocomplete="off" , placeholder="邮箱/手机号/店铺名" required autofocus />
                        <input type="hidden" name="ReturnUrl" data-ng-model="loginInfo.ReturnUrl" value="@ViewBag.ReturnUrl" />
                        <p class="text-red" ng-show="loginForm.UserName.$invalid && !loginForm.UserName.$pristine && submitted">请输入用户名</p>                        
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">密码</label>
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input name="Password" data-ng-model="loginInfo.Password" type="password" class="form-control placeholder-no-fix" autocomplete="off" , placeholder="密码" required autofocus />
                    </div>
                    <p class="text-red" ng-show="loginForm.Password.$invalid && !loginForm.Password.$pristine  && submitted">请输入密码</p>
                </div>
                <div class="alert alert-danger" data-ng-show="inError"> 
                    <span></span>
                </div> 
                <div>                    
                    <label><input type="checkbox" name="Remember" value="1" data-ng-model="loginInfo.Remember" />下次自动登录</label>                  
                    <button type="submit" class="btn btn-block btn-success"  >
                        现在登录 <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                    <div class="row pd-top-10">
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-info btn-block">
                                <i class="fa fa-wechat"></i> 微信登陆
                            </button>
                        </div>
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-info btn-block">
                                <i class="fa fa-qq"></i> QQ登陆
                            </button>
                        </div>
                    </div>
                </div>

                <div class="pd-top-20">
                    <h4>忘记了密码？</h4>
                    <p>
                        忘记密码，点击这里
                        @Html.ActionLink("找回密码", "Register")
                    </p>
                </div>
                <div class="create-account">
                    <p>
                        还没有我们的账号？&nbsp;
                        @Html.ActionLink("点击这里注册", "Register")
                    </p>
                </div>

            </form>
        </div>
    </div>

</div>




