
@{
    ViewBag.Title = "MoneyAccount";
    Layout = "~/Views/Shared/_CenterLayout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i> 首页</a></li>
    <li><a href="/account">用户中心</a></li>
    <li><a href="#">资金管理</a></li>    
</ol>

<div class="row">
    <div class="col-xs-4">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="fa fa-rmb"></i>
            </div>
            <div class="details">
                <div class="number">
                    1349
                </div>
                <div class="desc">
                    现金
                </div>
            </div>
            <a class="more" href="/account/moneylog">
                提现 <i class="m-icon-swapright m-icon-white"></i>
            </a> 
            <a class="more" href="/account/moneylog">
                充值 <i class="m-icon-swapright m-icon-white"></i>
            </a>
            <a class="more" href="/account/moneylog">
                资金记录 <i class="m-icon-swapright m-icon-white"></i>
            </a>             
        </div>
    </div>
    <div class="col-xs-4">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="fa fa-bitcoin"></i>
            </div>
            <div class="details">
                <div class="number">
                    549
                </div>
                <div class="desc">
                    H币
                </div>
            </div>
            <a class="more" href="#">
                如何赚取H币 <i class="m-icon-swapright m-icon-white"></i>
            </a>
            <a class="more" href="#">
                联合积分购物券转入 <i class="m-icon-swapright m-icon-white"></i>
            </a>
            <a class="more" href="#">
                查看记录 <i class="m-icon-swapright m-icon-white"></i>
            </a>
            
        </div>
    </div>
    <div class="col-xs-4">
        <div class="dashboard-stat purple">
            <div class="visual">
                <i class="fa fa-money"></i>
            </div>
            <div class="details">
                <div class="number">
                   8452
                </div>
                <div class="desc">
                    累积收益
                </div>
            </div>
            <a class="more" href="#">
                查看记录 <i class="m-icon-swapright m-icon-white"></i>
            </a>
            <a class="more" href="#">
                &nbsp; <i class="m-icon-swapright m-icon-white"></i>
            </a>
            <a class="more" href="#">
                &nbsp; <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>    
</div>

