
@{
    ViewBag.Title = "MyOrderList";
    Layout = "~/Views/Shared/_CenterLayout.cshtml";
}



<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="/account/moneylog">
            全部订单
        </a>
    </li>
    <li role="presentation">
        <a href="/account/hmoneylog">
            待付款
        </a>
    </li>
    <li role="presentation">
        <a href="#tab_1_3">
            待发货
        </a>
    </li>
    <li role="presentation">
        <a href="#tab_1_3">
            待收货
        </a>
    </li>
    <li role="presentation">
        <a href="#tab_1_3">
            待消费
        </a>
    </li>
    <li role="presentation">
        <a href="#tab_1_3">
            待评价
        </a>
    </li>
    <li role="presentation" class="pull-right">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="exampleInputEmail2">您的订单号</label>
                <input type="text" class="form-control" id="exampleInputEmail2" placeholder="订单号/产品名称">
            </div>
            <button type="submit" class="btn btn-default pull-right"><i class="fa fa-search"></i>搜索</button>
        </form>
    </li>
</ul>


<table class="table table-noborder">
    <thead>
        <tr class="active">
            <th width="40%">商品</th>
            <th width="5%">单价</th>
            <th width="5%">数量</th> 
            <th width="20%">商品操作</th>        
            <th width="10%">实付款</th>
            <th width="10%">交易状态</th>
            <th width="10%">订单操作</th>
        </tr>
    </thead>
    <tbody class="">
        <tr><td colspan="7"></td></tr>
        <tr class="bd bg-lightgray">
            <td colspan="2" class="bd-btn">订单号：145653235232 <span class="">日期：2016-15-10 14:20:14</span></td>
            <td colspan="3"><span>山东宏仁国家贸易有限公司 <a href="" class=""><i class="fa fa-comments-o"></i> 和我联系</a></span></td>
            <td colspan="2"><span class="pull-right"><a href=""><i class="fa fa-trash-o"></i></a></span></td>
        </tr>
        <tr class="bd">
            <td>
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="http://placehold.it/100x100" alt="...">
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">秋季新款如用户秋季新款如用户秋季新款如用户秋季新款如用户</h5>
                        XL
                    </div>
                </div>
            </td>
            <td><span>￥45.00</span></td>
            <td>1</td>
            <td>
                <div class="btn-group btn-group-sm btn-group-solid">
                    <button type="button" class="btn red">投诉卖家</button>
                    <button type="button" class="btn default">申请售后</button>
                </div>
            </td>
            <td>45</td>
            <td>成功</td>
            <td>
                <div class="btn-group btn-group-sm btn-group-solid">
                    <button type="button" class="btn btn-default">再次购买</button>
                </div>
            </td>
        </tr>
    </tbody>
    <tbody class="">
        <tr><td colspan="7"></td></tr>
        <tr class="bd bg-lightgray">
            <td colspan="2" class="bd-btn">订单号：145653235232 <span class="">日期：2016-15-10 14:20:14</span></td>
            <td colspan="3"><span>山东宏仁国家贸易有限公司 <a href="" class=""><i class="fa fa-comments-o"></i> 和我联系</a></span></td>
            <td colspan="2"><span class="pull-right"><a href=""><i class="fa fa-trash-o"></i></a></span></td>
        </tr>
        <tr class="bd">
            <td>
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="http://placehold.it/100x100" alt="...">
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">秋季新款如用户秋季新款如用户秋季新款如用户秋季新款如用户</h5>
                        XL
                    </div>
                </div>
            </td>
            <td><span>￥45.00</span></td>
            <td>1</td>
            <td>
                <div class="btn-group btn-group-sm btn-group-solid">
                    <button type="button" class="btn red">投诉卖家</button>
                    <button type="button" class="btn default">申请售后</button>                    
                </div>
            </td>
            <td>45</td>
            <td>成功</td>
            <td>
                <div class="btn-group btn-group-sm btn-group-solid">                                      
                    <button type="button" class="btn red">删除</button>
                </div>
            </td>
        </tr>
        <tr class="bd">
            <td>
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="http://placehold.it/100x100" alt="...">
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">秋季新款如用户秋季新款如用户秋季新款如用户秋季新款如用户</h5>
                        XL
                    </div>
                </div>
            </td>
            <td><span>￥45.00</span></td>
            <td>1</td>
            <td>
                <div class="btn-group btn-group-sm btn-group-solid">
                    <button type="button" class="btn red">投诉卖家</button>
                    <button type="button" class="btn default">申请售后</button>
                </div>
            </td>
            <td>45</td>
            <td>成功</td>
            <td>
                <div class="btn-group btn-group-sm btn-group-solid">
                    <button type="button" class="btn red">删除</button>
                </div>
            </td>
        </tr>
    </tbody>
    <tbody class="">
        <tr><td colspan="7"></td></tr>
        <tr class="bd bg-lightgray">
            <td colspan="2" class="bd-btn">订单号：145653235232 <span class="">日期：2016-15-10 14:20:14</span></td>
            <td colspan="3"><span>山东宏仁国家贸易有限公司 <a href="" class=""><i class="fa fa-comments-o"></i> 和我联系</a></span></td>
            <td colspan="2"><span class="pull-right"><a href=""><i class="fa fa-trash-o"></i></a></span></td>
        </tr>
        <tr class="bd">
            <td>
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="http://placehold.it/100x100" alt="...">
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">秋季新款如用户秋季新款如用户秋季新款如用户秋季新款如用户</h5>
                        XL
                    </div>
                </div>
            </td>
            <td><span>￥45.00</span></td>
            <td>1</td>
            <td>
                <div class="btn-group btn-group-sm btn-group-solid">
                    <button type="button" class="btn red">投诉卖家</button>
                    <button type="button" class="btn default">申请售后</button>
                </div>
            </td>
            <td>45</td>
            <td>成功</td>
            <td>
                <div class="btn-group btn-group-sm btn-group-solid">
                    <button type="button" class="btn red">删除</button>
                </div>
            </td>
        </tr>
        
    </tbody>
</table>

