
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="text-center wd-600 marg-top-80 marg-auto ">
        <div class="margin-top-20">
            <img src="/content/images/login-logo.png" alt="惠民汇logo" />
        </div>
        <h1 class="text-green"> 欢迎您，加入惠民汇商城</h1>
        <p class="text-left marg-top-30">开启您惠民汇生活之旅,开启您惠民汇生活之旅,开启您惠民汇生活之旅开启您惠民汇生活之旅开启您惠民汇生活之旅开启您惠民汇生活之旅开启您惠民汇生活之旅,开启您惠民汇生活之旅</p>
        <div class="text-center marg-top-60">
            <a href="/" class="btn btn-lg green">开始使用 <i class="glyphicon glyphicon-home"></i></a>
            <a href="/shop/openshop" class="btn btn-lg purple marg-lf-10">我要开店 <i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
    
</div>


