<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#" ng-bind="$state.current.data.pageTitle"></a>
        </li>
    </ul>
    <div class="page-toolbar"></div>
</div>
<h3 class="page-title" ng-bind="$state.current.data.pageTitle"></h3>


<div class="portlet box green" ng-controller="app.admin.goods.category">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i><span ng-bind="title"></span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="fullscreen"></a>
        </div>
    </div>
    <div class="portlet-body flip-scroll">
        <kendo-treelist options="treelistOptions"></kendo-treelist>
    </div>
    <!--设置属性弹出框-->
    <div ng-controller="app.admin.goods.category.setattr">
        <script type="text/ng-template" id="goods-category-setattr">
            <div class="modal-header">
                <h4 class="modal-title">{{category.Name}}属性和规格设置</h4>
            </div>
            <div class="modal-body">                
                <tabset class="tab-container tabbable-line">
                    <tab>
                        <tab-heading><i class="fa fa-users"></i>属性设置</tab-heading>
                        <div style="background-color:yellow;">
                            <kendo-grid options="attrgridOptions"></kendo-grid>
                        </div>
                        
                    </tab>
                    <tab>
                        <tab-heading><i class="fa fa-tree"></i>规格设置</tab-heading>
                        <div style="background-color:yellow;">
                            <kendo-grid options="specgridOptions"></kendo-grid>
                        </div>
                    </tab>
                </tabset>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="submit()"><i class="fa fa-check"> </i> 确定</button>
                <button class="btn btn-warning" ng-click="cancel()">取消</button>
            </div>
        </script>
    </div>
</div>