/* here you can put your own css to customize and override the theme */
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h4,
p,
div,
dt,
dd,
a {
  font-family: "Microsoft Yahei", "Helvetica Neue", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
@media screen and (max-width: 992px) {
  body {
    min-width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    min-width: 1240px;
  }
}
.classdfdfd {
  color-rendering: auto;
}
@media screen and (max-width: 992px) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1240px;
  }
}
.table-noborder {
  border: none;
}
.table-noborder > thead > tr > td,
.table-noborder > tbody > tr > td {
  border: none;
}
video.loginvideobg {
  width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
}
.bg-sitegreen {
  background-color: #28B779;
}
.bg-lightgreen {
  background-color: #DFF5E3;
}
.bg-black {
  background-color: #000;
}
.bg-white {
  background-color: #fff;
}
.bg-lightgray {
  background-color: #F5F5F5;
}
.bd-top {
  border-top: 1px solid #ccc;
}
.bd-btn {
  border-bottom: 1px solid #ccc !important;
}
.bd-topbtn {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc !important;
}
.bd-lf {
  border-left: 1px solid #ccc;
}
.bd-rt {
  border-right: 1px solid #ccc;
}
.bd-lfrt {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.bd {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc !important;
}
.wd-50 {
  width: 50px;
}
.wd-100 {
  width: 100px;
}
.wd-150 {
  width: 150px;
}
.wd-200 {
  width: 200px;
}
.wd-250 {
  width: 250px;
}
.wd-300 {
  width: 300px;
}
.wd-350 {
  width: 350px;
}
.wd-400 {
  width: 400px;
}
.wd-450 {
  width: 450px;
}
.wd-500 {
  width: 500px;
}
.wd-550 {
  width: 550px;
}
.wd-600 {
  width: 600px;
}
.height-240 {
  height: 240px;
}
.height-260 {
  height: 260px;
}
.height-100 {
  height: 100px;
}
.height-200 {
  height: 200px;
}
.height-300 {
  height: 300px;
}
.height-400 {
  height: 400px;
}
.height-500 {
  height: 500px;
}
.height-600 {
  height: 600px;
}
.height-700 {
  height: 700px;
}
.height-800 {
  height: 800px;
}
.height-900 {
  height: 900px;
}
.height-1000 {
  height: 1000px;
}
.pd-5 {
  padding: 5px;
}
.pd-5 {
  padding: 5px;
}
.pd-10 {
  padding: 10px;
}
.pd-15 {
  padding: 15px;
}
.pd-20 {
  padding: 20px;
}
.pd-25 {
  padding: 25px;
}
.pd-30 {
  padding: 30px;
}
.pd-35 {
  padding: 35px;
}
.pd-40 {
  padding: 40px;
}
.pd-lf-5 {
  padding-left: 5px;
}
.pd-lf-10 {
  padding-left: 10px;
}
.pd-lf-15 {
  padding-left: 15px;
}
.pd-lf-20 {
  padding-left: 20px;
}
.pd-lf-25 {
  padding-left: 25px;
}
.pd-lf-30 {
  padding-left: 30px;
}
.pd-lf-35 {
  padding-left: 35px;
}
.pd-lf-40 {
  padding-left: 40px;
}
.pd-rt-5 {
  padding-right: 5px;
}
.pd-rt-10 {
  padding-right: 10px;
}
.pd-rt-15 {
  padding-right: 15px;
}
.pd-rt-20 {
  padding-right: 20px;
}
.pd-rt-25 {
  padding-right: 25px;
}
.pd-rt-30 {
  padding-right: 30px;
}
.pd-rt-35 {
  padding-right: 35px;
}
.pd-rt-40 {
  padding-right: 40px;
}
.pd-top-5 {
  padding-top: 5px;
}
.pd-top-10 {
  padding-top: 10px;
}
.pd-top-15 {
  padding-top: 15px;
}
.pd-top-20 {
  padding-top: 20px;
}
.pd-top-25 {
  padding-top: 25px;
}
.pd-top-30 {
  padding-top: 30px;
}
.pd-top-35 {
  padding-top: 35px;
}
.pd-top-40 {
  padding-top: 40px;
}
.pd-btn-15 {
  padding-bottom: 15px;
}
.pd-btn-20 {
  padding-bottom: 20px;
}
.pd-topbtn-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pd-topbtn-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.marg-top-5 {
  margin-top: 5px;
}
.marg-top-10 {
  margin-top: 10px;
}
.marg-top-15 {
  margin-top: 15px;
}
.marg-top-20 {
  margin-top: 20px;
}
.marg-top-25 {
  margin-top: 25px;
}
.marg-top-30 {
  margin-top: 30px;
}
.marg-top-35 {
  margin-top: 35px;
}
.marg-top-40 {
  margin-top: 40px;
}
.marg-top-45 {
  margin-top: 45px;
}
.marg-top-50 {
  margin-top: 50px;
}
.marg-top-55 {
  margin-top: 55px;
}
.marg-top-60 {
  margin-top: 60px;
}
.marg-top-65 {
  margin-top: 65px;
}
.marg-top-70 {
  margin-top: 70px;
}
.marg-top-75 {
  margin-top: 75px;
}
.marg-top-80 {
  margin-top: 80px;
}
.marg-auto {
  margin-left: auto;
  margin-right: auto;
}
.marg-lf-10 {
  margin-left: 10px;
}
.marg-lf-25 {
  margin-left: 25px;
}
.marg-rt-0 {
  margin-right: 0px !important;
}
.marg-rt-10 {
  margin-right: 10px;
}
.marg-rt-20 {
  margin-right: 20px;
}
.text-lg {
  font-size: 1.5em;
}
.text-xlg {
  font-size: 2em;
}
.text-sm {
  font-size: 0.8em;
}
.text-red {
  color: red;
}
.text-white {
  color: #fff;
}
.text-green {
  color: #28B779;
}
.validation-summary-errors {
  background-color: #F9C3C3;
  padding: 10px;
  margin-bottom: 25px;
}
.validation-summary-errors ul {
  margin-bottom: 0;
}
.site-nav {
  background-color: #282828;
  color: #fff;
}
.site-nav:after {
  content: " ";
  width: 100%;
  height: 0;
  display: block;
  border-top: 1px solid #1b1b1b;
  border-bottom: 1px solid #353535;
}
.site-nav .site-by {
  display: block;
  margin-top: 8px;
  color: #fff;
}
.site-nav .nav {
  margin-bottom: 0;
  float: right;
  margin-right: 10px;
}
.site-nav .nav > li {
  margin-left: 5px;
}
.site-nav .nav > li > a {
  padding: 3px 5px;
  color: #fff;
}
.site-nav .nav > li > a:hover {
  background-color: #0e0e0e;
}
.site-nav .site-nav-login {
  float: right;
  margin-top: 3px;
}
.site-nav .site-nav-login > a:last-child {
  margin-left: 3px;
}
.site-nav .userdd-profile {
  width: 280px;
  color: #666;
}
.main-menu {
  background: #28B779;
  padding: 10px 0px;
}
.main-menu .hmh-wrapper-inner {
  position: relative;
  top: auto;
  left: auto;
}
.main-menu .hmh-wrapper-inner .hmh-form {
  margin-top: 10px;
}
.main-menu .hmh-wrapper-inner .hmh-form.-form-search {
  width: 80%;
}
.main-menu .hmh-wrapper-inner .hmh-form .partial {
  padding: 0;
  float: left;
}
.main-menu .hmh-wrapper-inner .hmh-form .partial.-left {
  width: 80%;
}
.main-menu .hmh-wrapper-inner .hmh-form .partial.-right {
  width: 20%;
}
.main-menu .hmh-wrapper-inner .hmh-form .partial .hmh-form-text {
  width: 100%;
  padding: 10px;
  height: 40px;
  font-size: 14px;
  color: #808080;
}
.main-menu .hmh-wrapper-inner .hmh-form .partial .-btn-lg {
  width: 100%;
  height: 40px;
  color: #fff;
}
.main-menu .hmh-wrapper-inner .hmh-form .partial .-btn-green {
  background-color: #2dcc87;
  border: 1px solid #23a26b;
}
.main-menu .hmh-wrapper-inner .hmh-form .partial .-btn-green:hover {
  background-color: #23a26b;
}
.main-menu .hmh-warpper-cart {
  margin-top: 10px;
  float: right;
}
.main-menu .hmh-warpper-cart > li > a {
  color: #fff;
  background-color: #2dcc87;
  border: 1px solid #23a26b;
}
.main-menu .hmh-warpper-cart > li > a:focus,
.main-menu .hmh-warpper-cart > li > a:hover {
  background-color: #23a26b;
  border-color: #23a26b;
}
.main-menu .hmh-warpper-cart .hmh-cart-warp {
  width: 300px;
}
.main-menu .hmh-warpper-cart .hmh-cart-warp .hmh-cart-content {
  max-height: 260px;
  overflow-y: scroll;
}
.main-menu .hmh-warpper-cart .hmh-cart-warp .del-btn {
  float: right;
}
.main-menu .hmh-warpper-cart .hmh-cart-warp .del-btn:hover {
  color: red;
}
.main-menu .hmh-warpper-cart .hmh-cart-warp hr {
  margin: 0;
}
.main-menu .center-mainnav .nav-pills {
  margin-top: 10px;
}
.main-menu .center-mainnav .nav-pills a {
  color: #fff;
}
.main-menu .center-mainnav .nav-pills a:hover {
  color: #fff;
  background: #00A732;
}
.main-nav {
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
.main-nav .homeul {
  padding-left: 0;
  margin-right: 10px;
  float: left;
}
.main-nav .homeul li {
  margin: 10px 0px 0px 0px;
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}
.main-nav .homeul li a {
  color: #333;
}
.main-nav .homeul li a:hover {
  color: #28B779;
  text-decoration: none;
}
.main-nav .homeul li:last-child {
  border-right: 1px solid #ccc;
}
.main-nav .nav {
  margin-left: 120px;
  margin-bottom: 0;
  position: relative;
}
.main-nav .nav > li {
  position: static;
  height: 40px;
}
.main-nav .nav > li > a {
  color: #000;
}
.main-nav .nav > li > a:hover {
  color: #28B779;
  background-color: #EAEAEA;
}
.main-nav .nav .fullwidth {
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
}
.main-nav .nav .hmh-local {
  float: right;
}
.main-nav .nav .hmh-local a {
  color: #28B779;
  font-size: 1.2em;
}
.main-nav .nav .hmh-local a:hover {
  border-bottom: none;
  top: 0;
}
.sub-menu-content .hmh-submenu-title {
  width: 100px;
  text-align: left;
  padding-top: 10px;
  color: #28B779;
  font-weight: bold;
}
.sub-menu-content dl {
  margin-bottom: 0 !important;
}
.sub-menu-content dd {
  margin-left: 100px;
  padding: 10px 0;
}
.sub-menu-content dd ~ dd {
  border-top: 1px dashed #ccc;
}
.sub-menu-content dd li.hmh-comment a {
  color: #28B779;
}
.sub-menu-content dd li a {
  padding: 0 0 8px 0;
  color: #808080;
}
.sub-menu-content dd li a:hover {
  background-color: transparent;
  color: #28B779;
}
.cat-warpper {
  height: 100%;
  border: 1px solid #ccc;
  border-bottom: none;
}
.cat-warpper .cat-list {
  border-top: 1px solid #ccc;
}
.cat-warpper .cat-list ul {
  padding: 0;
  margin-bottom: 0;
}
.cat-warpper .cat-list ul:before,
.cat-warpper .cat-list ul:after {
  content: " ";
  display: block;
  clear: both;
  width: 100%;
}
.cat-warpper .cat-list ul li {
  border-left: 1px solid #ccc;
  float: left;
  width: 33.3%;
  list-style: none;
  text-align: center;
  padding: 16px 0px;
  border-bottom: 1px solid #ccc;
}
.cat-warpper .cat-list ul li:first-child {
  border-left: none;
}
.bxslider {
  padding: 0;
  /*li{
        width:240px;height:150px;
        img{
            width:240px;height:150px;
        }
    }*/
}
.bxslider .slick-arrow {
  position: absolute;
  z-index: 8888;
  color: #28B779;
  top: 84px;
  left: 0;
}
.bxslider .slick-arrow .fa:before {
  font-weight: 100;
}
.bxslider .slick-arrow:hover {
  color: #3dd593;
}
.bxslider .slick-arrow.slick-next {
  left: 99%;
}
.zhuserlist-slick {
  padding: 0;
}
.zhuserlist-slick li {
  float: left;
  list-style: none;
  width: 100px;
  height: 100px;
}
.zhuserlist-slick li img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.zhuserlist-slick .slick-arrow {
  position: absolute;
  z-index: 10000;
  color: #ccc;
  top: -40px;
  left: 150px;
}
.zhuserlist-slick .slick-arrow:hover {
  color: #808080;
}
.zhuserlist-slick .slick-arrow.slick-next {
  left: 170px;
}
.home-user-profile {
  border: 1px solid #ccc;
  height: 310px;
}
.home-user-profile .hmh-hsumer a {
  display: block;
  padding-top: 5px;
}
.home-user-profile .hmh-hsumer a:hover {
  background-color: #ccc;
  text-decoration: none;
}
.site_cat {
  background-color: #FBFBFB;
  padding: 15px 5px;
}
.site_cat a {
  display: inline-block;
  width: 40%;
  margin-left: 10px;
  margin-top: 10px;
}
.cart-table .cart-check {
  width: 5%;
}
.cart-table .cart-goods {
  width: 40%;
}
.cart-table .cart-price {
  width: 10%;
}
.cart-table .cart-num {
  width: 20%;
}
.cart-table .cart-sum {
  width: 10%;
}
.cart-table .cart-op {
  width: 10%;
}
.cart-sumer {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  background-color: #F5F5F5;
}
.cart-sumer > div {
  align-items: center;
}
.allcatlist-warpper a {
  display: inline-block;
  padding: 3px 10px;
  background-color: #EBF5F3;
  margin-bottom: 5px;
  margin-right: 5px;
  color: #000;
  color: #017E92;
  font-size: 13px;
}
.allcatlist-warpper a:hover {
  text-decoration: none;
  background-color: #017E92;
  color: #fff;
}
.gofiltertable {
  background-color: #fff;
  position: relative;
}
.gofiltertable > tbody > tr > td {
  min-width: 160px;
}
.gofiltertable .filter-head {
  background-color: #525F78;
  color: #fff;
}
.gofiltertable .catlist a {
  display: inline-block;
  margin: 3px;
  padding: 3px 10px;
  color: #333;
  text-decoration: none;
  position: relative;
}
.gofiltertable .catlist a.active {
  background: #00C73C;
  color: #fff;
  border-radius: 15px;
  border-radius: 15px !important;
}
.gofiltertable .catlist a.active:hover:after {
  content: "x";
  color: #666;
  text-align: center;
  line-height: 15px;
  font-weight: 100;
  background: #fff;
  display: inline-block;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: -3px;
  -webkit-box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
  -moz-box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
}
.gofiltertable .brandlist {
  padding: 5px;
}
.gofiltertable .brandlist label {
  max-width: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.gofiltertable .colorlist {
  padding: 8px;
}
.gofiltertable .colorlist a {
  display: inline-block;
  overflow: hidden;
  width: 29px;
  height: 29px;
  line-height: 9999px;
  vertical-align: top;
  border: 1px solid #ccc;
  margin-right: 6px;
}
.gofiltertable .morefilter {
  position: static;
}
.gofiltertable .morefilter .morefilterwarp {
  top: 34px;
  left: 0;
  height: 212px;
  padding: 10px;
}
.gofiltertable .morefilter .morefilterwarp .morefilterwarpcontent {
  height: 160px;
  overflow-y: scroll;
}
.gofiltertable .morefilter .morefilterwarp .btnwarp {
  text-align: right;
  margin-top: 5px;
}
.orderwarp {
  background: #f9f9f9;
  border-top: 2px solid #35353F;
}
.orderwarp:before,
.orderwarp:after {
  content: " ";
  display: block;
  width: 100%;
  clear: both;
}
.orderwarp .btn-group {
  float: left;
  margin-right: 30px;
}
.orderwarp .checkbox-list {
  padding-top: 3px;
  float: left;
}
.orderwarp .page {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}
.goods-list .col-xs-3 {
  margin-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .goods-list .col-xs-3 {
    width: 25%;
  }
}
@media screen and (min-width: 1200px) {
  .goods-list .col-xs-3 {
    width: 20%;
  }
}
.goods-table {
  border: 1px solid #ccc;
}
.goods-table:hover {
  border-color: #28B779;
}
.goods-table .imgs {
  padding: 5px;
}
.goods-table .desc {
  margin-bottom: 10px;
  padding: 0px 15px;
  color: #666;
  margin-top: 10px;
}
.goods-table .rate {
  border-top: 1px solid #ddd;
  margin-bottom: 10px;
  padding-top: 15px;
  clear: both;
}
.goods-table .rate:before,
.goods-table .rate:after {
  display: table;
  line-height: 0;
  content: "";
}
.goods-table .rate:after {
  clear: both;
}
.goods-table .rate .price {
  display: inline-block;
  float: left;
  clear: both;
}
.goods-table .rate .price .currency {
  padding-top: 4px;
  float: left;
  width: 50px;
  text-align: right;
  font-size: 13px;
  line-height: 14px;
  font-weight: 300;
}
.goods-table .rate .price .amount {
  padding-top: 4px;
  float: left;
  text-align: right;
  font-size: 36px;
  line-height: 30px;
  font-weight: 300;
  color: #28B779;
}
.goods-table .rate .btn {
  margin-top: 3px;
  float: right;
  display: block;
  margin-right: 10px;
}
.goodsshopinfo {
  border-top: 3px solid #28B779;
}
.goodsshopinfo .shopbase {
  text-align: center;
}
.goodsshopinfo .portlet {
  margin-top: 15px;
}
.goodsshopinfo .portlet .caption {
  font-size: 13px;
  font-weight: bold;
}
.goodsshopinfo .catlist {
  margin-top: 10px;
}
.goodsshopinfo .catlist ul {
  padding-left: 0;
}
.goodsshopinfo .catlist li {
  list-style: none;
  margin-top: 8px;
}
.goodsshopinfo .catlist li a {
  font-weight: bold;
  color: #000;
}
.goodspics .tab-pane {
  height: 430px;
  border: 1px solid #ccc;
  text-align: center;
}
.goodspics .smallpiclist {
  margin-top: 10px;
  padding-left: 0;
  border-bottom: 1px solid #ccc;
}
.goodspics .smallpiclist:before,
.goodspics .smallpiclist:after {
  content: " ";
  display: block;
  clear: both;
}
.goodspics .smallpiclist li {
  list-style: none;
  float: left;
  width: 60px;
  height: 70px;
  margin-right: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid transparent;
}
.goodspics .smallpiclist li.active {
  border-color: #28B779;
}
.goodsinfo-warpper .goodsbase h3 {
  margin-top: 0;
}
.goodsinfo-warpper .goodsbase .labs .label {
  margin: 1px 3px 0px 0px;
}
.goodsinfo-warpper .goodsbase .price {
  font-size: 40px;
  color: red;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 20px;
}
.goodsinfo-warpper .goodsbase .price small {
  color: #333;
  font-size: 18px;
}
.goodsinfo-warpper .guigeinfo {
  margin-top: 15px;
}
.goodsinfo-warpper .guigeinfo .spinner {
  display: inline-table;
  vertical-align: middle;
}
.goodsAttrs {
  padding: 0;
}
.goodsAttrs li {
  display: inline-block;
  width: 50%;
  margin-bottom: 10px;
}
.center-mainnav .nav .active a {
  background-color: #239e68;
}
.center-mainnav .nav .active a:hover {
  background-color: #23a26b;
  color: #fff;
}
.usercentermenu .nav .active a {
  border-left: 3px solid #28B779;
  background-color: transparent;
  color: #28B779;
}
.usercentermenu .nav .active a:hover {
  border-left: 3px solid #28B779;
  background-color: transparent;
  color: #28B779;
}
.usercentermenu ul {
  padding: 0;
  padding-top: 10px;
  border-top: 1px dashed #ccc;
}
.usercentermenu ul li {
  list-style: none;
  padding: 10px 5px;
}
.usercentermenu ul li a {
  color: #333;
}
.accountbase {
  padding: 15px;
  border: 1px solid #ccc;
}
.shopaccountbase {
  padding: 15px 15px 10px 15px;
  border: 1px solid #ccc;
  background-color: #F3F3F3;
  border-bottom: none;
}
.ordersumerlist {
  border: 1px solid #ccc;
  border-top: none;
}
.ordersumerlist ul {
  padding: 3px;
  padding-top: 10px;
  margin-bottom: 0;
  padding-left: 0;
}
.ordersumerlist ul:before,
.ordersumerlist ul:after {
  content: " ";
  display: block;
  clear: both;
}
.ordersumerlist ul li {
  display: inline-table;
  vertical-align: middle;
  float: left;
  list-style: none;
  margin: 5px 10px;
  padding-left: 20px;
}
.ordersumerlist ul li + li {
  border-left: 1px solid #ccc;
}
.orderhistory > div {
  margin-top: 5px;
}
.orderhistory > div:first-child {
  margin-top: 0;
}
.orderhistory .price {
  padding-top: 30px;
}
.safecenter > tbody > tr > td {
  padding: 15px 10px;
}
.invotetltbox {
  background-color: #FF6258;
  padding: 15px;
  color: #fff;
}
.invotetltbox > div {
  border-top: 1px solid #FF4539;
}
.invotetltbox div.col-xs-4 + div {
  border-left: 1px solid #FF4539;
}
.invotetltbox h2 {
  text-align: center;
  margin-bottom: 30px;
}
.invotetltbox div.text-center {
  padding-top: 30px;
}
.invotejlrule {
  margin-top: 60px;
}
.invotejlrule li {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 100;
}
.cardlist > div {
  height: 100px;
  margin-top: 10px;
}
.cardlist .card_warp {
  padding: 15px;
  background-color: #F5F7FA;
  height: 100%;
}
.cardlist a.add_link {
  display: block;
  text-align: center;
  padding-top: 25px;
  border: 1px dashed #ccc;
  height: 100%;
}
.cardlist a.add_link:hover {
  text-decoration: none;
  background-color: #F5F7FA;
}
.cardlist a.add_link:active {
  text-decoration: none;
}
.contractlist div.active {
  border-left: 3px solid #28B779;
}
.contractlist div.bd:hover {
  background: #EEFBF5;
}
.foot-bottom-warpper {
  background-color: #4A5866;
  color: #f9f9f9;
  padding: 10px 0px;
}
.foot-bottom-warpper .powerby {
  color: #fff;
}
.foot-bottom-warpper a {
  color: #28B779;
}
.foot-bottom-warpper .bottom-fa {
  float: right;
  margin-bottom: 0;
}
.foot-bottom-warpper .bottom-fa li {
  float: left;
  list-style: none;
  margin-left: 20px;
}
.page-list .pagination {
  float: left;
}
.page-list .pagination span {
  cursor: pointer;
}
.page-list .pagination .separate span {
  cursor: default;
  border-top: none;
  border-bottom: none;
}
.page-list .pagination .separate:hover {
  background: none;
}
.page-list .page-total {
  float: right;
  margin: 15px 0px 15px 20px;
}
.page-list .page-total input {
  height: 26px;
  border: 1px solid #ddd;
  width: 40px;
  padding-left: 3px;
}
.page-list .page-total select {
  height: 26px;
  border: 1px solid #ddd;
  width: 50px;
}
.m-sku-title {
  display: inline-block;
  float: left;
  padding-left: 15px;
}
.m-sku {
  display: inline-block;
  padding: 0;
}
.m-sku li {
  line-height: 28px;
  float: left;
  position: relative;
  margin: 0 4px 4px 0;
  vertical-align: middle;
  padding: 1px;
  list-style: none;
}
.m-sku li span {
  float: left;
  cursor: pointer;
  background-color: #fff;
  white-space: nowrap;
  width: auto !important;
  min-width: 10px;
  padding: 0 9px;
  text-align: center;
  border: 1px solid #b8b7bd;
  color: #000;
  text-decoration: none;
}
.m-sku li span.js-seleted {
  border: 2px solid #be0106;
  margin: -1px;
}
.m-sku li span.js-disabled {
  border: 1px dashed #D6D6D8;
  color: #CDCDCD;
}
div[hmh-stepper] {
  display: inline-block;
  height: 32px;
  box-sizing: border-box;
}
div[hmh-stepper] button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  background: #22AE45;
  color: white;
  font-weight: bold;
  font-size: 20px;
  outline: none;
}
div[hmh-stepper] button:active {
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
  background: #1e993d;
}
div[hmh-stepper] div {
  vertical-align: top;
  width: 50px;
  background: #eee;
  text-align: center;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
}