<!--合同对话框-->
<!--<div class="modal fade bs-modal-lg" id="basic" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">-->     

            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" aria-hidden="true"></button>
                <h4 class="modal-title">合同预览</h4>
            </div>
            <div class="modal-body">
                <div style="height:420px;overflow-y:scroll" id="contractinfo">
                    <div id="contractinfo">

                        <div class="bg-white pd-40">
                            <h3 class="text-center">商家入驻协议</h3>
                            <p>甲方：<ins>{{shop.Name}}</ins></p>
                            <p>乙方：<ins>上海悟行电子商务有限公司</ins></p>
                            <p>甲乙双方本着“互惠互利”的原则经双方协商决定，签订商家入驻(汇民惠电商平台)合同书，具体内容如下。名词解释在本协议中，除非另有明确规定，否则下列词语应具有如下含义：</p>
                            <p>
                                1、电商平台【www.hh319.com】：指乙方开发的网上购物交易技术服务平台，是乙方的重要项目之一。<br />
                                2、注册店铺费用说明：是指甲方使用乙方（汇民惠电商平台）网上商城注册店铺加盟费用1500元（该费用不包括网上支付涉及的银行交易手续费、其他服务费及配送费用） <br />
                                3、委托推广资金：指商家在入驻本商城之前，同意公司为其店铺推广所花费的三级推广费用8500元。<br />
                                4、投入资金说明：入驻费用1500元与委托推广费用8500元共计壹万圆整。<br />
                                5、罚款说明：签署本协议后，甲方需遵守此项罚款条例，如在协议合作期间甲方售卖假货被查证属实，甲方需支付伍拾万元罚款，并且永远不允许再入驻商城。
                            </p>
                            <h4>一、合同有效期 </h4>
                            <p>甲乙双方共同遵守合同条款，履行合同满一年后，未出现以下违规行为（如：上传销售非法伪劣产品，侵犯消费者合法权益，不能提供有效服务等），合同有效期自动顺延，合同继续有效（但甲方应支付第二年的店铺使用费用及委托推广费用壹万圆整）。 </p>
                            <h4>二、甲方的权力和义务 </h4>
                            <p>
                                1、甲方有权利要求乙方在合同期内提供稳定的技术服务；要求乙方提供网店技术服务，保障网店能够正常运营。<br />
                                2、甲方应于服务开通之前，按照《（汇民惠电商平台）网上商城入驻协议书》中的规定向乙方支付网上商城域名使用费1500元以及委托推广费用8500元，共计壹万圆整。 <br />
                                3、甲方使用乙方提供的网店管理系统按乙方要求在（汇民惠电商平台）网上商城建立网上店铺，经乙方审核，发布和管理商品信息。<br />
                                4、甲方应保证其在（汇民惠电商平台）网上商城中的商品信息合法、真实、准确。如因甲方提供的商品信息存在问题而引起任何纠纷，甲方应负责解决；如给乙方造成任何损失，甲方应当负全责赔偿。 <br />
                                5、甲方有义务对所售商品的售后提供完整服务。 <br />
                                6、甲方有义务向乙方支付网上每笔交易货款的3%，作为网络管理费用，用作乙方网络系统开发和平台技术推广等费用。 并根据所售卖的产品种类及利润空间确定是否参与消费者分润环节。<br />
                                7、甲方保证其在（汇民惠电商平台）的商品零售价格不高于在店铺销售的最低价格，否则乙方有权拒绝发布或删除该商品信息。 
                            </p>
                            <h4>一、保本信息</h4>
                            <p>保本金额：<ins>{{shop.InitalFee * shop.Year}}</ins>  店铺每日H币消费上限：<ins>{{shop.HCoinLimit}}</ins></p>
                            <p>合同有效期：<ins></ins></p>
                            <h4>三、乙方的权利和义务 </h4>
                            <p>
                                1、乙方负责网上商城的建设、维护、运行和管理，为甲方在乙方的网上商城发布商品信息及销售商品提供协议中约定的技术服务。<br />
                                2、乙方仅负责向甲方提供本协议规定的技术服务，与销售商品有关的一切事务(发货、维修、质量保证、退换货等)均应由甲方负责。 <br />
                                3、乙方为甲方提供一个稳定的个人店铺，负责整体推广（汇民惠电商平台）商城，提高商城知名度，运营和管理网上商城平台。 <br />
                                4、乙方有权审核甲方提供的商品信息，对甲方提供不符合法律、法规或乙方有理由相信如果发布将给乙方带来不利影响的商品信息，乙方有权要求甲方进行修改，也有权拒绝发布或删除该信息。 <br />
                                5、所有产生的网上货款，买家均统一交付于乙方平台，乙方根据实际交易情况，将完成的交易实时转付与甲方。
                            </p>
                            <h4>四、其他事项</h4>
                            <p>
                                1、乙方有权对不遵守无条件退货的甲方解除合约；甲方在乙方网上商城经营中出现违反国家政策或监管部门的规定，乙方有权提前解约；甲方违反本合同的规定，乙方有权取消甲方的二级域名使用权。 <br />
                                2、为了网站的正常运行，乙方需要定期或不定期地对网站进行停机维护；如因上述情况影响乙方在本协议的履行，甲方予以谅解。乙方应尽可能将因此造成的不利影响减少到最低程度。<br />
                                3、如遭受不可抗力事件的一方可暂行中止履行本协议项下的义务直至不可抗力事件的影响消除为止，并且无需为此而承担违约责任。但应尽最大努力克服该事件，减轻其负面影响。
                            </p>
                            <div class="pd-top-20">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <p>
                                            乙方（签章）：<ins>{{shop.Name}}</ins>
                                        </p>
                                        <p>时间：<ins>2016-12-15</ins></p>
                                    </div>
                                    <div class="col-xs-6">
                                        <div>
                                            <p>
                                                乙方（签章）：
                                            </p>
                                            <p style="position:absolute;margin-top:-120px;"><img src="/content/images/signet.gif" alt="惠民汇商城合同专用章" /></p>
                                            <p>时间：<ins>2016-12-15</ins></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pd-top-20">
                    <label>
                        <input type="checkbox" ng-model="ischecked" /> 我已详细阅读，并同意签订该合同。
                    </label>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="cancel()" class="btn btn-default">重新选择合同</button>
                <button type="button" ng-disabled="!ischecked" ng-click="signContract()" class="btn green">签订该合同</button>
            </div> 
<!--    </div>
    </div>
</div>-->
