<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true"></button>
    <h4 class="modal-title">开店协议</h4>
</div>

<div class="modal-body">
    <div style="height:500px;overflow-y:scroll;">
        <h3>网易邮箱帐号服务条款</h3>
        最后修订时间：2016年8月31日
        【注意】欢迎申请使用广州网易计算机系统有限公司及其他合作运营主体（下列简称为“网易公司”或“网易”）提供的服务。请您（下列简称为“用户”）仔细阅读以下全部内容（特别是粗体下划线标注的内容）。如用户不同意本服务条款任意内容，请勿注册或使用网易服务。如用户通过进入注册程序并勾选“我同意网易邮箱帐号服务条款”，即表示用户与网易公司已达成协议，自愿接受本服务条款的所有内容。此后，用户不得以未阅读本服务条款内容作任何形式的抗辩。
        <h4>1.服务条款的确认和接纳</h4>
        网易服务涉及到的网易产品的所有权以及相关软件的知识产权归网易公司所有。网易公司所提供的服务必须按照其发布的公司章程，服务条款和操作规则严格执行。本服务条款的效力范围及于网易公司的一切产品和服务，用户在享受网易公司任何单项服务时，应当受本服务条款的约束。
        当用户使用网易各单项服务时，应以网易公司认可的方式同意该单项服务的服务条款以及网易公司在该单项服务中发出的各类公告（下列简称为“单项条款”），在此情况下单项条款与本服务条款同时对用户产生效力。若单项条款与本服务条款存在同类条款的冲突，则在单项条款约束范围内应以单项条款为准。
        <h4>2.网易邮箱帐号服务简介</h4>
        本服务条款所称的“网易邮箱帐号”是指用户注册的合法、有效的帐号，包括
        （1）以“网易邮箱”注册的帐号（含以@163.com，@126.com， @yeah.net等为后缀的“网易免费邮箱”和以@vip.163.com，@vip.126.com，@188.com，@vip.188.com等为后缀的“网易收费邮箱”）；
        （2）以网易popo帐号（@popo.163.com等）注册的帐号；
        （3）以网易公司认可的其他“非网易邮箱”注册的帐号。
        网易公司运用自己的操作系统通过国际互联网络为用户提供各项服务。用户必须：
        （1）提供设备，如个人电脑、手机或其他上网设备。
        （2）个人上网和支付与此服务有关的费用。
        3.网易邮箱帐号注册规则
        网易邮箱帐号注册资料包括但不限于用户的网易邮箱帐号名称、头像、密码、注册或更新网易邮箱帐号时输入的所有信息以及用户使用网易各单项服务时输入的名称、头像等所有信息。
        用户在注册网易邮箱帐号时承诺遵守法律法规、社会主义制度、国家利益、公民合法权益、公共秩序、社会道德风尚和信息真实性等七条底线，不得在网易邮箱帐号注册资料中出现违法和不良信息，且用户保证其在注册和使用帐号时，不得有以下情形：
        （1）违反宪法或法律法规规定的；
        （2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
        （3）损害国家荣誉和利益的，损害公共利益的；
        （4）煽动民族仇恨、民族歧视，破坏民族团结的；
        （5）破坏国家宗教政策，宣扬邪教和封建迷信的；
        （6）散布谣言，扰乱社会秩序，破坏社会稳定的；
        （7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；
        （8）侮辱或者诽谤他人，侵害他人合法权益的；
        （9）含有法律、行政法规禁止的其他内容的。
        若用户提供给网易公司的帐号注册资料不准确，不真实，含有违法或不良信息的，网易公司有权不予注册，并保留终止用户使用网易各项服务的权利。若用户以虚假信息骗取帐号注册或帐号头像、个人简介等注册资料存在违法和不良信息的，网易公司有权采取通知限期改正、暂停使用、注销登记等措施。对于冒用关联机构或社会名人注册帐号名称的，网易公司有权注销该帐号，并向政府主管部门进行报告。
        根据相关法律、法规规定以及考虑到网易产品服务的重要性，用户同意：
        （1）在注册网易邮箱帐号时提交个人有效身份信息进行实名认证；
        （2）提供及时、详尽及准确的账户注册资料；
        （3）不断更新注册资料，符合及时、详尽准确的要求，对注册网易邮箱帐号时填写的身份证件信息不能更新。
        用户同意，其提供的真实、准确、合法的网易邮箱帐号注册资料是作为认定用户与其网易邮箱帐号的关联性以及用户身份的唯一证据。用户在享用网易各项服务的同时，同意接受网易提供的各类信息服务。网易公司提醒用户，用户注册网易邮箱帐号或更新注册信息时填写的证件号码，在注册网易邮箱帐号成功或补充填写后将无法进行修改，请用户慎重填写各类注册信息。
        为使用户及时、全面了解网易公司提供的各项服务，用户同意，网易公司可以多次、长期向用户发送各类商业性短信息而无需另行获得用户的同意。
        用户同意与注册、使用网易邮箱帐号相关的一切资料、数据和记录，包括但不限于网易邮箱帐号、注册资料、所有登录、消费记录和相关的使用统计数字等归广州网易计算机系统有限公司所有。发生争议时，用户同意以广州网易计算机系统有限公司的系统数据为准，广州网易计算机系统有限公司保证该数据的真实性。
        尽管有前述约定，对于用户使用网易邮箱帐号享受网易公司旗下单项服务（如游戏产品、网易支付产品等）时产生的一切数据，包括但不限于产品登录记录、消费记录及其他产品日志、产品客户服务记录、用户在产品中创造的社会网络内容等，归具体产品运营主体所有。发生争议时，用户同意以具体产品运营主体的系统数据为准。但是如果单项条款存在与前述不同的约定，则以单项条款约定为准。
    </div>
</div>
<div class="modal-footer">
    <button type="button" ng-click="cancel()" class="btn blue">确定</button>
</div>
